body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#form {
	width: 500px;
	height: 500px;
	border-radius: 5px;
	border: 1px solid black;
	margin: auto;
	margin-top: 100px;
}
#regform {
	width: 500px;
	height: 600px;
	border-radius: 5px;
	border: 1px solid black;
	margin: auto;
	margin-top: 100px;
}

.login-input {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
}

.user-input {
	width: 40%;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
}

#input-holder {
	width: 300px;
	height: auto;
	margin: auto;
	margin-top: 50px;
}

#submit {
	width: 304px;
}

.error {
	color: red;
}

.success {
	color: green;
}

span h3 {
	text-align: center;
}