#form {
  overflow: none;
  width: 800px;
  height: 700px;
  border-radius: 5px;
  border: 1px solid black;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  flex-direction: column;
}

#header {
  height: 120px;
  background-color: #02054d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#taskonnect {
  margin: 10px;
}

h1 {
  color: white;
  margin: 10px;
}

#comment-section {
  width: 400px;
  height: 360px;
  border: 1px solid black;
  position: relative;
}

.comments {
  width: 100%;
  height: calc(100% - 100px);
  overflow: auto;
}

.submit-comments {
  width: 100%;
  height: 100px;
}

.comment {
  width: 300px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid gray;
  text-align: left;
}

