#regform {
	width: 500px;
	height: 600px;
	border-radius: 5px;
	border: 1px solid black;
	margin: auto;
    margin-top: 100px;
    background-color: lightgray;
}

#input-holder {
    display: flex;
    flex-direction: column;
  }
  
  #submit {
    background-color: #3354ff;
    color: white;
    width: 30%;
    height: 100%;
  }
  
  #input-holder .button-container {
    justify-content: flex-end;
    display: flex;
  }
  

