{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">

  {{ super() }}
{% endblock %}
{% block content %}

	<div id="regform">
		<span><h3>Register</h3></span>
		<form action="" method="POST" name="register">
			<div> 
				 <center><img src = "{{ url_for('static', filename='assets/KonnectLogos.png') }}">
				 </center>
			</div>
			<div id="input-holder">
				{% for error in errors %}
					<p class="error">{{ error }}</p>
				{% endfor %}
				{% for s in success %}
					<p class="success">{{ s }}</p>
				{% endfor %}
				{% if not current_data == None %}
					<input type="text" name="email" class="login-input" value="{{current_data['email']}}">
				{% else %}
					<input type="text" name="email" class="login-input" placeholder="Email">
				{% endif %}
				<input type="text" name="first_name" class="login-input" placeholder="First Name">
				<input type="text" name="last_name" class="login-input" placeholder="Last Name">
				<input type="password" name="password" class="login-input" placeholder="Password">
				<input type="password" name="confirm_password" class="login-input" placeholder="Confirm Password">
				<div class="button-container">
					<input type="submit" name="submit" class="login-input" id="submit">
				</div>
				<p>Already have an account? <a href="/login">Login</a></p>
			</div>
		</form>
	</div>

{% endblock %}